- [Vector data bases introduction](https://www.datacamp.com/blog/the-top-5-vector-databases)
just food for thought

In [ ]:
SELECT * FROM customers
SELECT * FROM orders

SELECT  nameoffood, price, customers.customername
FROM orders


SELECT Orders.OrderID, customers.customerid, customers.email, customers.ordersmade
FROM orders
INNER JOIN Customers ON orders.customerid = customers.customerid

-- Inner JOin table name but we used aliases -- 
SELECT o.OrderID, o.nameoffood, o.price, c.customername, c.email 
FROM orders AS o
INNER JOIN Customers AS c ON o.customerid = c.customerid



-- right join --
SELECT o.OrderID, c.customername, c.email, c.ordersmade
FROM orders AS o
RIGHT JOIN Customers AS c ON o.customerid = c.customerid


SELECT o.OrderID, c.customername, c.email, c.ordersmade
FROM orders AS o
LEFT JOIN Customers AS c ON o.customerid = c.customerid


SELECT o.OrderID, c.customername, c.email, c.ordersmade
FROM orders AS o
FULL OUTER JOIN Customers AS c ON o.customerid = c.customerid

In [ ]:
create table x (
idx int primary key,
name text
)

create table y (
idy int primary key, -- fk for x
nickname text,
address text
)










INSERT INTO x (idx, name) VALUES
(1,'idrees'),
(2,'samson'),
(3,'hariz'),
(9,'balqis')


INSERT INTO y (idy, nickname, address) VALUES
(1,'jack','montreal'),
(2,'john','losangeles'),
(3,'harry','paris'),
(4,'nobita','tokyo'),
(5, 'nur','kualalumpur' )

In [ ]:
select * from x
select * from y

select idx,name
from x

select idy, address
from y

-- inner join --
SELECT x.idx, y.nickname
FROM y
INNER JOIN x ON x.idx = y.idy

-- right join
SELECT x.idx, y.nickname
FROM x
RIGHT JOIN y ON x.idx = y.idy

-- left join
SELECT x.idx, y.nickname
FROM x
LEFT JOIN y ON x.idx = y.idy

-- full outer join
SELECT x.idx, y.idy, y.nickname
FROM x
FULL OUTER JOIN y ON x.idx = y.idy

## Subquerries

In [ ]:
-- sub querries

-- find everyone in table x, whose nickname was harry
SELECT *
FROM x
WHERE idx = (SELECT idy FROM y WHERE nickname = 'harry');

WHERE idx = 3


-- use IN expression in SQL 
SELECT idx, name
from x
WHERE idx NOT IN (SELECT idy FROM y) -- 1 2 3 4 5 


SELECT * FROM CUSTOMERS
SELECT * FROM ORDERS


SELECT nameoffood, location, restaurantname
FROM orders
WHERE price > ( SELECT AVG(price) FROM orders)

-- average price of orders
SELECT AVG(price)
FROM orders


-- fetch all order records from idrees

SELECT ordersmade
FROM Customers
WHERE CustomerName = 'Idrees'
-- answer for the number of orders, made by idrees

SELECT nameoffood
FROM orders
WHERE customername = 'Idrees'

SELECT Nameoffood, RestaurantLocation, RestaurantName
FROM orders
WHERE customername = ("Idrees" FROM Customers)

-- this works!! -- Harizzz!!!
SELECT nameoffood, location, restaurantname
FROM orders
Where customerid IN (SELECT customerid FROM customers WHERE customername= 'Idrees');


SELECT nameoffood
FROM orders
WHERE customerid = 1;

SELECT customerid 
FROM Customers
WHERE customername = 'Idrees'

-- fetch all order records from idrees
SELECT *
FROM orders
WHERE customerid = (SELECT customerid 
					FROM Customers
					WHERE customername = 'Idrees')