<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: center; position: absolute; right: 20px;color: #000000ff;">
        Mohammad Idrees Bhat<br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #000000ff;">Tech Skills Trainer | AI/ML Consultant</span>
    </div>
</div>

<h1 style=" background-color: #002147; color: White; padding: 30px; text-align:center"> Python Libraries 2 - Pandas</h1>

<div style="background-color: lightgreen; color: black; padding: 10px;">
    <h1> 
</h1> </div>

<div style="background-color: grey; color: black; padding: 10px;">
    <h4><b>AGENDA</b> <p><p>
1. Pandas <p><p> 
2. Pandas core objects – Series and DataFrame <p>
3. Handling Data with Pandas <p>
4. Filtering, Aggregation and Grouping <p>

</h4> </div>

<h4> Skills Covered </h4>

- Using import pandas as pd in Python.

- Creating and exploring DataFrames.

- Using .loc, .iloc, and boolean filters.

- Applying methods like sum(), mean(), groupby().

- Reading from and writing to CSV files.

- Handling missing data with isna(), dropna(), and fillna().

- Combining data with merge() and concat().

<h4> Learning Outcomes </h4>

By the end of this lesson, students will be able to:

1. Understand what DataFrames and Series are in pandas

2. Load data from CSV files into pandas DataFrames

3. Filter and select specific data from DataFrames

4. Perform basic data aggregation operations

5. Handle missing values in datasets

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>1. Pandas 
</h4> </div>

- **Pandas** is a Python library that provides powerful data structures like Series and **DataFrame** to store and manipulate structured data efficiently.

- It allows you to work with structured data (like Excel spreadsheets) programmatically

- Nearly all data science and machine learning projects use pandas for data preparation

- It lets you clean, explore, and transform data before building ML models

- Think of pandas as Excel inside Python, but much more powerful.

- You can:

    - Read data from files (CSV, Excel, etc.).
    
    - Select rows and columns.
    
    - Filter, sort, and group data.
    
    - Handle missing values.
    
    - Prepare data for machine learning.

In [1]:
# First step: importing pandas

import pandas as pd  # 'pd' is the common short name used by almost everyone

# Create a tiny example table (DataFrame) to see pandas in action
data = {
    "Student": ["Aman", "Sara", "John", "Priya"],
    "Math": [85, 90, 78, 92],
    "English": [88, 92, 80, 95]
}

df = pd.DataFrame(data)

print("This is a pandas DataFrame:")
print(df)

This is a pandas DataFrame:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95

In [2]:
# Example skills:
print("First few rows:")
print(df.head())          # exploring

print("\nAverage Math marks:")
print(df["Math"].mean())  # aggregation

First few rows:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95

Average Math marks:
86.25

#### Prerequisites

- You should already know a little bit of:

- Basic Python: variables, lists, and dictionaries.

- How to run code in a Jupyter Notebook.

- Very basic understanding of what a CSV or table is.

In [3]:
# Quick reminder example: Python list and dictionary

# A simple list
numbers = [10, 20, 30]

# A simple dictionary
student = {
    "name": "Aman",
    "age": 16,
    "grade": "10th"
}

print(numbers)
print(student)

[10, 20, 30]
{'name': 'Aman', 'age': 16, 'grade': '10th'}

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4> Big picture: pandas in AI, ML, and Data Science
</h4> </div>

- In a typical data science or ML workflow, pandas is used in the data preparation and exploration steps.

- Before training any machine learning model, you must:

    1. Load the data.

    2. Clean it (fix errors, missing values).

    3. Explore it (understand ranges, averages, categories).

    4. Transform it into a format that a model can understand.

> Let's cover the core concepts first and then move to these parts

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>2. pandas core concepts
</h4> </div>

### Core objects – Series and DataFrame

- A Series is a one-dimensional labeled array (like a single column).
    - Series = one column from an Excel sheet.

- A DataFrame is a two-dimensional table made of multiple Series sharing the same index.
    - DataFrame = the full sheet with many columns and rows.

> You will mostly work with **DataFrames**, but **Series** is useful to understand because:

> each column in a DataFrame is actually a Series

In [4]:
import pandas as pd

# Creating a Series (one-dimensional)
marks_series = pd.Series([85, 90, 78], name="Math")

print("Series example:")
print(marks_series)
print("Type:", type(marks_series))

print("\n---\n")

# Creating a DataFrame (two-dimensional)
data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}

df = pd.DataFrame(data)

print("DataFrame example:")
print(df)
print("Type:", type(df))

Series example:
0    85
1    90
2    78
Name: Math, dtype: int64
Type: <class 'pandas.core.series.Series'>

---

DataFrame example:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
Type: <class 'pandas.core.frame.DataFrame'>

#### Mini-Activity:

> 1. Create a `pd.Series` with 5 temperature values and print it.

> 2. Create a pd.DataFrame with columns "`City`" and "`Temperature`" for 3 cities.

> 3. Check the `type()` of each object you created.

> 4. Add a name to your Series and print it again.

### Creating DataFrames from Python data

- A DataFrame can be created from different Python data structures like dictionaries, lists, and lists of dictionaries.

- You can take data that you already have in Python and convert it into a neat table using `pd.DataFrame(...)`

- The most common patterns are:
    
    - Dictionary of lists → columns as keys.

    - List of dictionaries → each dictionary is one row.

In [5]:
import pandas as pd

# 1) Dictionary of lists
student_data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}

df_dict = pd.DataFrame(student_data)
print("DataFrame from dictionary of lists:")
print(df_dict)

print("\n---\n")

# 2) List of dictionaries
student_list = [
    {"Student": "Aman", "Math": 85, "English": 88},
    {"Student": "Sara", "Math": 90, "English": 92},
    {"Student": "John", "Math": 78, "English": 80},
]

df_list = pd.DataFrame(student_list)
print("DataFrame from list of dictionaries:")
print(df_list)

DataFrame from dictionary of lists:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

---

DataFrame from list of dictionaries:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

#### Mini-Activity:

> 1. Create a dictionary of lists for a small shop inventory: "`Item`", "`Price`", "`Quantity`".

> 2. Convert it into a DataFrame and print it.

> 3. Create a list of dictionaries for "`Employee`", "`Age`", "`Department`".

> 4. Convert that into a DataFrame and print it.

### Reading from and writing to CSV files

- `pd.read_csv()` reads data from a CSV file into a DataFrame.

-  `DataFrame.to_csv()` writes a DataFrame to a CSV file.

- CSV (Comma-Separated Values) is one of the most common formats for data.

- Pandas makes it very easy to load CSV files and save your results back to CSV.

#### Remember the previous method we used to create CSV files?

In [ ]:
# Let's create a sample CSV file first, then read it
sample_data = """Name,Department,Salary,Experience
Alice,Engineering,75000,3
Bob,Marketing,65000,5
Charlie,Engineering,80000,7
Diana,HR,60000,2
Eve,Marketing,70000,4"""

# Save this data to a CSV file
with open('employees.csv', 'w') as f:
    f.write(sample_data)

# Now let's read it back using pandas
employee_df = pd.read_csv('employees.csv')
print("Data loaded from CSV file:")
print(employee_df)

# Get basic information about our data
print("\nBasic info about our DataFrame:")
print(employee_df.info())

#### But we often do this in Data Science

In [6]:
import pandas as pd

# Create a small DataFrame
data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}
df = pd.DataFrame(data)

In [ ]:
# Save DataFrame to a CSV file (in the current directory)
csv_filename = "students_marks.csv"
df.to_csv(csv_filename, index=False)  # index=False avoids saving row numbers
print(f"DataFrame saved to {csv_filename}")

- Understand `index` = `True` or `False`

In [9]:
csv_filenameT = "students_marksTrue.csv"
df.to_csv(csv_filename, index= True) 

csv_filenameF = "students_marksFalse.csv"
df.to_csv(csv_filename, index= False)

In [10]:
df_loaded = pd.read_csv(csv_filenameT)
print("\nDataFrame loaded from CSV:")
print(df_loaded)

DataFrame loaded from CSV:
   Unnamed: 0 Student  Math  English
0           0    Aman    85       88
1           1    Sara    90       92
2           2    John    78       80

In [11]:
df_loaded = pd.read_csv(csv_filenameF)
print("\nDataFrame loaded from CSV:")
print(df_loaded)

DataFrame loaded from CSV:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

#### Mini-Activity:

> 1. Create your own DataFrame and save it as "my_data.csv".

> 2. Load it back using pd.read_csv() and compare it with the original.

> 3. Try saving with index=True (default) and see the difference.

>Think: Why might it be better to avoid saving the index sometimes?

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>3. Handling Data with Pandas
</h4> </div>

### Inspecting DataFrames (shape, head, info, describe)

Pandas provides methods like `head()`, `tail()`, `info()`, `describe()` and attributes like shape to quickly understand your data.

- These tools help you answer questions like:
 
    - How many rows and columns are there?
    
    - What are the column names and types?
    
    - What are basic statistics like mean, min, max?

In [12]:
import pandas as pd

data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi"],
    "Math": [85, 90, 78, 92, 65],
    "English": [88, 92, 80, 95, 70]
}

df = pd.DataFrame(data)

print("First 3 rows using head():")
print(df.head(3))

print("\nShape of the DataFrame (rows, columns):")
print(df.shape)

print("\nColumn names:")
print(df.columns)

print("\nInfo about DataFrame:")
print(df.info())

print("\nBasic statistics for numeric columns:")
print(df.describe())

First 3 rows using head():
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

Shape of the DataFrame (rows, columns):
(5, 3)

Column names:
Index(['Student', 'Math', 'English'], dtype='object')

Info about DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  5 non-null      object
 1   Math     5 non-null      int64
 2   English  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

Basic statistics for numeric columns:
            Math    English
count   5.000000   5.000000
mean   82.000000  85.000000
std    10.931606  10.099505
min    65.000000  70.000000
25%    78.000000  80.000000
50%    85.000000  88.000000
75%    90.000000  92.000000
max    92.000000  95.000000

### Selecting columns and rows ([], .loc, .iloc)

You often need to pick specific parts of a table:

    -   Only certain columns (e.g., "Math" and "English").

    -   Only certain rows (e.g., first 3 rows or a specific student).

- How do we target certain columns? or rows?

    - `df["col"]` selects a single column (Series).

    - `df[["col1", "col2"]]` selects multiple columns (DataFrame).

    - `.loc` selects by label (index name, column name).

    - `.iloc` selects by position (integer - i) (row/column number).

In [13]:
print("Original DataFrame:")
print(df)

print("\nSingle column (Math):")
print(df["Math"])

print("\nMultiple columns (Student and English):")
print(df[["Student", "English"]])

print("\nRow by position using iloc (first row):")
print(df.iloc[0])

print("\nRows 1 and 2 by position using iloc:")
print(df.iloc[1:3])  # rows at positions 1 and 2

print("\nRow by label using loc (assuming default index):")
print(df.loc[0])  # index label 0

Original DataFrame:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95
4    Ravi    65       70

Single column (Math):
0    85
1    90
2    78
3    92
4    65
Name: Math, dtype: int64

Multiple columns (Student and English):
  Student  English
0    Aman       88
1    Sara       92
2    John       80
3   Priya       95
4    Ravi       70

Row by position using iloc (first row):
Student    Aman
Math         85
English      88
Name: 0, dtype: object

Rows 1 and 2 by position using iloc:
  Student  Math  English
1    Sara    90       92
2    John    78       80

Row by label using loc (assuming default index):
Student    Aman
Math         85
English      88
Name: 0, dtype: object

#### Mini-Activity:

> 1. Select only the "Student" column and print it.

> 2. Select both "Math" and "English" columns together.

> 3. Print the third row using .iloc.

> 4. Try setting a custom index (e.g., "Student") using df.set_index("Student") and then select rows with .loc.

#### Adding and modifying columns

You can add new columns or modify existing ones using simple operations (vectorized operations) on columns.

> These are often called Calculated Columns

- You often want to:

    - Compute total marks.

    - Compute percentage.

    - Create new features for ML (e.g., BMI = weight / height^2).

In [ ]:
data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}

df = pd.DataFrame(data)
df

  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

In [ ]:
# Add a new column Total = Math + English
df["Total"] = df["Math"] + df["English"]

# Add a new column Average
df["Average"] = df["Total"] / 2

print("DataFrame with new columns:")
print(df)

#### Helpful EDA tools (`value_counts`, `unique`, `duplicated`)

When exploring data (EDA = Exploratory Data Analysis)

- `value_counts()` counts how many times each value appears in a column.

- `unique()` shows unique values.

- `duplicated()` detects duplicate rows.

In [76]:
import pandas as pd

data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi", "Aman"],
    "Class": ["10A", "10A", "10B", "10B", "10A", "10A"]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

print("\nValue counts for Class:")
print(df["Class"].value_counts())

print("\nUnique students:")
print(df["Student"].unique())

print("\nDuplicated rows (True = duplicate):")
print(df.duplicated())

# Drop duplicates
df_unique = df.drop_duplicates()
print("\nDataFrame after dropping duplicates:")
print(df_unique)

Original DataFrame:
  Student Class
0    Aman   10A
1    Sara   10A
2    John   10B
3   Priya   10B
4    Ravi   10A
5    Aman   10A

Value counts for Class:
Class
10A    4
10B    2
Name: count, dtype: int64

Unique students:
['Aman' 'Sara' 'John' 'Priya' 'Ravi']

Duplicated rows (True = duplicate):
0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

DataFrame after dropping duplicates:
  Student Class
0    Aman   10A
1    Sara   10A
2    John   10B
3   Priya   10B
4    Ravi   10A

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>4. Filtering, Aggregation and Grouping
</h4> </div>

### Filtering rows with conditions (boolean indexing)

- Filtering lets you keep only the rows you care about.
- Example: students whose Math marks are greater than 80, or products whose price is less than 100.

Boolean indexing is selecting rows where a condition is True, such as `df["Math"] > 80`.

In [ ]:
print("Original DataFrame:")
print(df)

# Filter students with Math > 80
high_math = df[df["Math"] > 80]
print("\nStudents with Math > 80:")
print(high_math)

# Combine conditions: Math > 80 AND English > 85
high_both = df[(df["Math"] > 80) & (df["English"] > 85)]
print("\nStudents with Math > 80 AND English > 85:")
print(high_both)

#### Mini-Activity:

> 1. Filter students with English marks >= 90.

> 2. Filter students with Math marks between 70 and 90 (use > and <).

> 3. Try filtering with OR: students with Math < 70 OR English < 75.

> 4. Count how many students match a filter using len(filtered_df).

### Sorting data (sort_values, sort_index)


Sorting helps you see data in order, like:

- Highest to lowest marks.

- Alphabetical order of students.

- `sort_values()` sorts rows based on one or more column values.

- `sort_index()` sorts rows based on the row index.

In [ ]:
data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi"],
    "Math": [85, 90, 78, 92, 65],
    "English": [88, 92, 80, 95, 70]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

In [ ]:
# Sort by Math marks ascending
sorted_math = df.sort_values(by="Math")
print("\nSorted by Math (ascending):")
print(sorted_math)

# Sort by English marks descending
sorted_english_desc = df.sort_values(by="English", ascending=False)
print("\nSorted by English (descending):")
print(sorted_english_desc)

### Aggregation

- Sometimes we need to find aggregate values of various columns.
    - Aggregation functions like sum(), mean(), min(), max() combine many values into one.

In [70]:
data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi", "Anita"],
    "Class": ["10A", "10A", "10B", "10B", "10A", "10B"],
    "Math": [85, 90, 78, 92, 65, 88],
    "English": [88, 92, 80, 95, 70, 85]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
  Student Class  Math  English
0    Aman   10A    85       88
1    Sara   10A    90       92
2    John   10B    78       80
3   Priya   10B    92       95
4    Ravi   10A    65       70
5   Anita   10B    88       85

In [71]:
# Overall average marks
print("\nOverall average Math and English:")
print(df[["Math", "English"]].mean())

Overall average Math and English:
Math       83.0
English    85.0
dtype: float64

Average marks by Class:
       Math    English
Class
10A    80.0  83.333333
10B    86.0  86.666667

#### Mini-Activity:

> 1. Compute the total Math marks using .sum().

# -------------------

#### Combining DataFrames with `merge`

`pd.merge()` combines two DataFrames based on one or more common columns (keys), similar to SQL joins.

- Sometimes your data is split across tables, for example:

    - One table with student info.

    - Another table with their marks.

In [79]:
# Student info
students = {
    "StudentID": [1, 2, 3],
    "Student": ["Aman", "Sara", "John"]
}
df_students = pd.DataFrame(students)

# Marks info
marks = {
    "StudentID": [1, 2, 3],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}
df_marks = pd.DataFrame(marks)


print("Students DataFrame:")
print(df_students)

print("\nMarks DataFrame:")
print(df_marks)

# Merge on StudentID
df_merged = pd.merge(df_students, df_marks, on="StudentID")
print("\nMerged DataFrame:")
print(df_merged)

Students DataFrame:
   StudentID Student
0          1    Aman
1          2    Sara
2          3    John

Marks DataFrame:
   StudentID  Math  English
0          1    85       88
1          2    90       92
2          3    78       80

Merged DataFrame:
   StudentID Student  Math  English
0          1    Aman    85       88
1          2    Sara    90       92
2          3    John    78       80

In [81]:
# 1. INNER JOIN (default)
# ---------------------------
# Keeps only rows where StudentID exists in BOTH df_students and df_marks
inner_join = pd.merge(df_students, df_marks, on="StudentID", how="inner")
print("\nINNER JOIN (only matching StudentID in both tables):")
print(inner_join)

INNER JOIN (only matching StudentID in both tables):
   StudentID Student  Math  English
0          1    Aman    85       88
1          2    Sara    90       92
2          3    John    78       80

In [82]:
# 2. LEFT JOIN
# ---------------------------
# Keeps ALL rows from df_students, and matching rows from df_marks.
# If a StudentID exists in df_students but not in df_marks, marks become NaN.
left_join = pd.merge(df_students, df_marks, on="StudentID", how="left")
print("\nLEFT JOIN (all students, marks only if present):")
print(left_join)

LEFT JOIN (all students, marks only if present):
   StudentID Student  Math  English
0          1    Aman    85       88
1          2    Sara    90       92
2          3    John    78       80

In [ ]:
# 3. RIGHT JOIN
# ---------------------------
# Keeps ALL rows from df_marks, and matching rows from df_students.
# If a StudentID exists in df_marks but not in df_students, student info becomes NaN.
right_join = pd.merge(df_students, df_marks, on="StudentID", how="right")
print("\nRIGHT JOIN (all marks, students only if present):")
print(right_join)

In [ ]:
# 4. FULL OUTER JOIN
# ---------------------------
# Keeps ALL StudentID values that appear in EITHER df_students OR df_marks.
# If a StudentID appears in only one table, the missing side is filled with NaN.
outer_join = pd.merge(df_students, df_marks, on="StudentID", how="outer")
print("\nFULL OUTER JOIN (all StudentID from both tables):")
print(outer_join)

### Concatenating DataFrames with `pd.concat`

`pd.concat()` stacks DataFrames either vertically (one below another) or horizontally (side by side).

In [74]:
# Concatenate vertically (one below another)
df_all = pd.concat([df_marks, df_students], ignore_index=False)
print("\nConcatenated DataFrame (Marks + Students):")
print(df_all)

Concatenated DataFrame (Marks + Students):
   StudentID  Math  English Student
0          1  85.0     88.0     NaN
1          2  90.0     92.0     NaN
2          3  78.0     80.0     NaN
0          1   NaN      NaN    Aman
1          2   NaN      NaN    Sara
2          3   NaN      NaN    John

In [75]:
# Data for January
data_jan = {
    "Day": [1, 2, 3],
    "Sales": [100, 150, 200]
}
df_jan = pd.DataFrame(data_jan)

# Data for February
data_feb = {
    "Day": [1, 2, 3],
    "Sales": [120, 160, 210]
}
df_feb = pd.DataFrame(data_feb)

print("January DataFrame:")
print(df_jan)

print("\nFebruary DataFrame:")
print(df_feb)

# Concatenate vertically (one below another)
df_all = pd.concat([df_jan, df_feb], ignore_index=True)
print("\nConcatenated DataFrame (Jan + Feb):")
print(df_all)

January DataFrame:
   Day  Sales
0    1    100
1    2    150
2    3    200

February DataFrame:
   Day  Sales
0    1    120
1    2    160
2    3    210

Concatenated DataFrame (Jan + Feb):
   Day  Sales
0    1    100
1    2    150
2    3    200
3    1    120
4    2    160
5    3    210

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
</h1> </div>

<div class="alert alert-block alert-warning">
    <b><font size="5"> Mini Project </font> </b>
</div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
</h1> </div>

<div style="background-color: lightgreen; color: black; padding: 30px;">
    <h4> Mini Project Solutions
        
</h4> </div>